/*
 Monolithic stylesheet. Rules follow the general order in which elements
 are found in index.html with the exception of media queries which are
 found at the bottom of this stylesheet.
 */

/* Universal rules */
* {
	background-color: palegoldenrod;
	font-family: Arial, Verdana, sans-serif;
}

h1, h2, h3 {
	color: darkgreen;
	font-size: 36px;
	text-align: center;
}


/* header element contains:
 	- Main project header (h1)
	- Nav bar with links
*/
/* --------------------- <header> ---------------------- */
nav {
	top: 50px;
}
nav ul {
	display: flex;
	flex-direction: row;
}
nav ul li {
	display: inline;
	position: relative;
	min-width: 100px;
}
/* ---------------------- </header> --------------------------- */

/* All article elements are displayed using flexbox. Using the principles
 * of mobile-first-design, the elements start of with wrapping set to 'wrap'.
 * As the screen width increases, wrapping is turned off and the article 
 * elements will adopt a columnar layout
 */
article {
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
}

#langs {
	display: flex;
	margin: 0px;
	padding: 5px;
}
#langs img {
	flex-wrap: wrap;
	flex: 0, 1, 100px;
	max-width: 100px;
	max-height: 150px;
	aspect-ratio: 1 / 1;
}

/* Override strange aspect ratio of js logo */
#js-icon {
	height: 100px;
}
#python-icon {
	width: 111px;
	height: 135px;
}
#css-icon {
	width: 100px;
	height: 141px;
}


/* Color Scheme */
p {
	color:green;
	font-size: 16pt;
}





a:link {
	color: hotpink;
	text-decoration: none;
}

a:visited {
	color: hotpink;
}

body {
	margin-left: 0px;
	margin-right: 0px;
}

/* Style profile pic */
/* original dimensions: 3024x4032
 * Divisible by 2 -> 1512x2016
 * Divisible by 3 -> 1008x1344
 * Divisible by 4 ->  756x1008
 * Divisible by 6 ->  504x672
 * Divisible by 7 ->  432x576
 * Divisible by 8 ->  378x504
 * Divisible by 9 ->  336x448
 * Divisible by 12 -> 252x336
 * 3, 4, 6, 7, 8, 9, 12, 14
*/
main img {
	/* Smallest display size and increased with larger monitors */
	width: 252px;
	height: 336px;
	margin-left: 50px;
	margin-right: 50px;
}

footer {
	margin: 0px;
	padding: 0px;
	background-color: #edf6ff;

}

/* Stylize the project elements */
.project-class h3 {
	text-align: center;
	font-size: 36px;
}

video {
	width: 240px;
	height: 135px;
}


/* If very small screen:

* Size image - 336 x 448
* Wrap article text so it appears underneath
  corresponding images
* Place nav bar links in a centered 
*/
@media only screen and (min-width: 375px) {
	article {
		flex-wrap: wrap;
	}
	nav {
		display: block;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	main img {
		width: 336px;
		height: 448px;
	}
}

@media only screen and (min-width: 768px) {
	article {
		flex-wrap: nowrap;
	}
	main img {
		width: 504px;
		height: 672px;
	}
	nav {
		position: absolute;
		display: inline-block;
		right: 0;
	}
	video {
		width: 480px;
		height: 270px;
	}
}

@media only screen and (min-width: 1440px) {
	article p {
		float: right;
	}

	main img {
		width: 756px;
		height: 1008px;
	}
}




